body {
font-family: 'Abril Fatface', cursive;
line-height: 1.5;
}
p{
font-family:  'Poppins', sans-serif;
}

h1 {
  color: #800000;
  text-align: center;
}


h2{
  color: #800000;
}


table, th, td {
  border: 1px solid #222;
  width:100%
}

nav{
  background-color:#e8ded1;
  border: 1px solid #222;
  padding: 10px 20px;
  margin: 10px 10px;
}

nav ul {
  padding-left:0;
  list-style-type: none;
}

nav li {
  font-weight: bold;
  display: inline-block;
  margin-right: 20px;
}

nav a,
nav a:link,
nav a:visited {
  color: #800000;
  text-decoration: none;
}

nav a:hover {
  color: #808080;
}

nav a:active{
  color: #ffffff;
}

section {
  background-color: #e8ded1;
  display: inline-block;
  vertical-align: top;
}

p{
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 10px;
  padding-right: 20px;

}



section{
  border: 1px solid #222;
  padding: 20px 20px;
  margin: 10px;
}

#wrapper {
  max-width: 2000px;
      margin: 0 auto;

}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

footer{
  background-color:#e8ded1;
  border: 1px solid #222;
  padding: 10px 20px;
  margin: 10px 10px;
}



footer a,
footer a:link,
footer a:visited {
  color: #800000;
  text-decoration: none;
}

footer a:hover {
  color: #808080;
}

footer a:active{
  color: #ffffff;
}
